*.pyc
*.pyo
*.diff
*.save
*.old
*.orig
*.rej
*.ignore
.*.swp
.swp
core
core.*
help.*
*~
*.bak
diff
syncdb
*.sql3
*.sqlite3
*.sqlite3-journal
*.sqlite3-shm
*.sqlite3-wal
celerybeat-schedule
staticprod
todo.rst
tags
paramiko.log
/.env
/.coverage
.idea/*
accounts/__pycache__/*
accounts/migrations/__pycache__/*
insuranceProject/__pycache__/*

