{% extends 'insurance/base.html' %}
{% block title %}Change Password{% endblock %}
<!--{% block users_active %}active{% endblock %}-->

{% block body %}
<div class="container-fluid">

    <div class="row">
        <div class="form-group col-md-12">

                    <h1>Change password</h1>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="row" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'accounts/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Save changes</button>
                                <input formnovalidate  type="submit" name="cancel" value="Cancel" class="btn btn-secondary"/>
                            </div>
                        </div>
                    </form>

        </div>
    </div>

</div>

{% endblock %}
