{% extends 'insurance/base.html' %}
{% block title %}My Profile{% endblock %}
{% block register_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-footer">
                    change your password? <a href="{% url 'accounts:change_my_password' %}">Click here</a> .
                </div>
                <div class="panel-body">
                    {% if user.is_admin %}
                    <h4>You Are Admin</h4>
                    {% endif %}
                    <h3>Edit My Profile</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'accounts/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input formnovalidate  type="submit" name="cancel" value="Cancel" class="btn btn-secondary"/>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

