<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Insurance{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}"/>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>-->
    <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->

    <script src="{% static 'accounts/js/main.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <a class="navbar-brand" href="#" style="pointer-events: none; cursor: default;">Insurance</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                {% if user.is_admin %}
                <li class="{% block relations_active %}{% endblock %}"><a href="{% url 'insurance:list-relation' %}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;</a></li>
                <li class="{% block users_active %}{% endblock %}"><a href="{% url 'accounts:list_user' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Users</a></li>
                {% endif %}
                <li class="{% block employees_active %}{% endblock %}"><a href="{% url 'insurance:list-employee' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Employees</a></li>
                <li class="{% block insurances_active %}{% endblock %}"><a href="#"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp; Files Insurance</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li >
                    <a href="{% url 'accounts:update_my_profile'%}">
                        Hi  {{ user.username}}&nbsp;
                    </a>
                </li>
                <li>
                    {% if  user.user_image %}
                        <img  src="{{ user.user_image.url }}"  class="logo">
                    {% else %}
                        <img  src="{% static 'image/default.png' %}" class="logo">

                    {% endif %}
                </li>
                <li>
                    <a href="{% url 'accounts:logout_user' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
{% block body %}
{% endblock %}

<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>  <!-- JQUERY HERE -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block javascript %}
    {% endblock %}
</body>
</html>