<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Insurance{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>

    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/all.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/bootstrap-toggle.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker.min.css' %}"/>


    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>-->
    <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->

    <script src="{% static 'accounts/js/main.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <a class="navbar-brand" href="#" style="pointer-events: none; cursor: default;"><img  src="{% static 'image/logo2.png' %}" class="logo"></a>

        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if user.is_admin %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="{% url 'insurance:list-relation' %}"><span class="fas fa-list-ul" aria-hidden="true"></span>List relation</a>
                        <a class="dropdown-item" href="{% url 'insurance:list-employee' %}"><span class="fas fa-users" aria-hidden="true"></span>List Employees</a>

                        <a class="dropdown-item" href="{% url 'accounts:list_user' %}"><span class="fas fa-user" aria-hidden="true"></span>List Users</a></li>
                </li>


                {% endif %}
                <li class="nav-item {% block employees_active %}{% endblock %}"><a class="nav-link" href="{% url 'insurance:list-employee' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Employees</a></li>
                <li class="nav-item {% block insurances_active %}{% endblock %}"><a class="nav-link" href="{% url 'insurance:index' %}"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp; Files Insurance</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li >
                    <a class="nav-link" href="{% url 'accounts:update_my_profile'%}">
                        Hi  {{ user.username}}&nbsp;
                    </a>
                </li>
                <li>
                    {% if  user.user_image %}
                        <img  src="{{ user.user_image.url }}"  class="login">
                    {% else %}
                        <img  src="{% static 'image/default.png' %}" class="login">

                    {% endif %}
                </li>
                <li>
                    <a class="nav-link" href="{% url 'accounts:logout_user' %}">
                        <span aria-hidden="true"><i class="fas fa-power-off"></i></span>&nbsp; Logout
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
{% block body %}
{% endblock %}

<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>  <!-- JQUERY HERE -->
    <script src="{% static 'accounts/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/bootstrap-toggle.min.js' %}"></script>

{% block javascript %}
    {% endblock %}
</body>
</html>