{% extends 'insurance/base.html' %}
{% block title %}Add a New Employee{% endblock %}
{% block employees_active %}active{% endblock %}
{% load staticfiles %}
{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="form-group col-md-12">
           <img  src="{% static 'image/logo.png' %}" class="img-logo">
                    <h1>Add a New Employee</h1>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="row" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'accounts/form_template.html' %}
                        <div class="form-group col-md-12">
                            <div class="row">
                            <div class="col-md-6">
                                <input formnovalidate  type="submit" name="cancel" value="Cancel" class="btn btn-secondary btn-lg"/>
                                </div>
                                <div class="col-md-6">
                                <button type="submit" class="btn btn-success btn-lg"><span class="fas fa-check"></span>Submit</button>
                                </div>

                            </div>
                        </div>
                    </form>

        </div>

    </div>

</div>
{% endblock %}
