
    <div class="col-md-6">
        <div class="col-sm-offset-2 col-sm-10">
            <span class="text-danger small"></span>
        </div>
        <label class="control-label" for="song_title">{{ form.collaborator.label_tag }}</label>
        {{ form.collaborator }}
    </div>
    <div class="col-md-6">
        <div class="col-sm-offset-2 col-sm-10">
            <span class="text-danger small"></span>
        </div>
        <label class="control-label" for="song_title">{{ form.Patients.label_tag }}</label>
        {{ form.Patients }}
    </div>
    <div class="col-md-6" >
        <div class="col-sm-offset-2 col-sm-10">
            <span class="text-danger small"></span>
        </div>
        <label class="control-label" for="song_title">{{ form.filing_date.label_tag }}</label>
        {{ form.filing_date }}
    </div>
    <div class="col-md-6">
        <div class="col-sm-offset-2 col-sm-10">
            <span class="text-danger small"></span>
        </div>
        <label class="control-label" for="song_title">{{ form.amount.label_tag }}</label>
        {{ form.amount }}
    </div>
    <div class="col-md-6">
        <div class="col-sm-offset-2 col-sm-10">
            <span class="text-danger small"></span>
        </div>
        <label class="control-label" for="song_title">{{ form.delivery_date.label_tag }}</label>
        {{ form.delivery_date }}
    </div>
    <div class="col-md-6">
        <div class="col-sm-offset-2 col-sm-10">
            <span class="text-danger small"></span>
        </div>
        <label class="control-label" for="song_title">{{ form.status.label_tag }}</label>
        {{ form.status }}
    </div>
    <div class="col-md-6">
        <div class="col-sm-offset-2 col-sm-10">
            <span class="text-danger small"></span>
        </div>
        <label class="control-label" for="song_title">{{ form.file_number.label_tag }}</label>
        {{ form.file_number }}
    </div>
    <div class="col-md-6">
        <div class="col-sm-offset-2 col-sm-10">
            <span class="text-danger small"></span>
        </div>
        <label class="control-label" for="song_title">{{ form.Repayment_date.label_tag }}</label>
        {{ form.Repayment_date }}
    </div>
     <div class="col-md-6">
        <div class="col-sm-offset-2 col-sm-10">
            <span class="text-danger small"></span>
        </div>
        <label class="control-label" for="song_title">{{ form.amount_reimbursed.label_tag }}</label>
        {{ form.amount_reimbursed }}
    </div>
     <div class="col-md-6">
        <div class="col-sm-offset-2 col-sm-10">
            <span class="text-danger small"></span>
        </div>
        <label class="control-label" for="song_title">{{ form.regulation_number.label_tag }}</label>
        {{ form.regulation_number }}
    </div>
    <div class="col-md-6">
        <div class="col-sm-offset-2 col-sm-10">
            <span class="text-danger small"></span>
        </div>
        <label class="control-label" for="song_title">{{ form.method_settlement.label_tag }}</label>
        {{ form.method_settlement }}
    </div>
    <div class="col-md-6">
        <div class="col-sm-offset-2 col-sm-10">
            <span class="text-danger small"></span>
        </div>
        <label class="control-label" for="song_title">{{ form.check_number.label_tag }}</label>
        {{ form.check_number }}
    </div>


