{% extends 'insurance/base.html' %}
{% block title %}Add a new insurance file {% endblock %}
{% block insurances_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">


            <div class="form-group col-md-12">

                    <h1>Add a New Insurance File</h1>
                    <form class="form-horizontal" role="form" action="{% url 'insurance:create' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'accounts/form_template.html' %}
                        <div class="form-group col-md-12">
                         <div class="col-md-6 col-xs-6">
                                 <input formnovalidate  type="submit" name="cancel" value="Cancel" class="btn btn-secondary btn-lg"/>
                            </div>
                            <div class="col-md-6 col-xs-6">

                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>


                        </div>

                    </form>


            </div>


    </div>

</div>
{% endblock %}
