{% extends 'insurance/base.html' %}
{% load staticfiles %}
{% block title %}Update Insurance File{% endblock %}
{% block insurances_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="form-group col-md-12">
<img  src="{% static 'image/logo.png' %}" class="img-logo">

                    <h1>Update Insurance File</h1>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="row" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'accounts/form_template.html' %}
<div class="form-group col-md-12">
        <div class="row">
         <div class="col-md-6 col-xs-6">

                                <button formnovalidate  type="submit" class="btn btn-secondary btn-lg"><span class="fas fa-undo-alt"></span>Cancel</button>
                                </div>
                         <div class="col-md-6 col-xs-6">

                                <button type="submit" class="btn btn-primary btn-lg"><span class="fas fa-edit"></span>Update</button>
                                </div>

                            </div>
                        </div>
                    </form>


        </div>

        </div>
    </div>


{% endblock %}