
@font-face {
  font-family: Deadfont;
  src: url("/static/font/Dead.ttf");
}
@font-face {
  font-family: Heller;
  src: url("/static/font/Heller.ttf");
}


body {
    background: white url("images/background.png");
}

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
    padding:0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
    margin-right: 2em;
}

li > a{
    color:#fff;
}

.btn-lg{
    margin-top:1em;
}

.login {
    float:left;
	height:30px;
    width: 30px;
	margin-top:5px
	}
.logo {
    height: 50px;
    margin-top: -0.2em;
	}
a:hover {
    text-decoration: none!important;
}
.navbar-inverse{
    background-color: #112b3f;
}
.panel-body h1, .form-group h1{
    text-align: center;
    padding: 1em;
    font-family: Heller;
}

.img-logo{
    height: 100px;
    position:absolute;
}
.top-btn{
    margin:1.5em 0 10px 0;
}
label {
    display: inline-block;
    /* margin-bottom: .5rem; */
    margin: .5rem 0 0 0;
}
.dropdown-menu a span {
    margin: 0 10px 0 0;
}
.dropdown-menu a:hover {
    background-color: #007bff;
}
.form-group span {
    margin-right:10px
}
.card-title h4{
    right: 3%;
    position: absolute;
    top: 10px;
}
.card-title .top-text{
    padding-top:1em;
}
.img-emp a img{
    height: 250px;
    width: 250px;
    padding: 1em 0 1em 0;
}
